@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot?3eiqgs');
	src:url('fonts/icomoon.eot?#iefix3eiqgs') format('embedded-opentype'),
		url('fonts/icomoon.woff?3eiqgs') format('woff'),
		url('fonts/icomoon.ttf?3eiqgs') format('truetype'),
		url('fonts/icomoon.svg?3eiqgs#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-play3:before {
	content: "\ea1c";
}

